<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GupShup | Chats</title>

	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/css/chatBox.css">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="/images/chat.png">


</head>
<body>
	<header class="d-flex justify-content-between bg-secondary px-3">			
		<h1 id="logo"><img id="logoImg" src="/images/chat.png" alt="">GupShup</h1>
		
		<button class="align-self-center" id="leaveChat">Leave Chat</button>
	</header>
	<main class="d-flex h-75">
		<aside class="w-25 border p-3" id="left">
			<div id="roomName">
				<h3>RoomName</h3>
				<h4 class="bg-info">JavaScript</h4>
			</div>

			<div id="Users">
				<h3>Users</h3>
				<h4 class="bg-info">Rushda</h4>
			</div>

		</aside>

		<aside class="w-75 border p-3" id="right">
			<div class="border w-75 me-auto rounded p-3 bg-info mt-2 mx-4">This is My msg</div>
			<div class="border w-75 ms-auto rounded p-3 bg-info mt-2 mx-4">This is My msg</div>
			<div class="border w-75 me-auto rounded p-3 bg-info mt-2 mx-4">This is My msg</div>
		</aside>
	</main>
	<footer class="bg-info p-1 d-flex">
		<input class="rounded p-2 ms-2 my-2 flex-grow-1" type="text" name="msg" placeholder="write message...">
		<button class="rounded p-2 px-5 me-2 my-2">send</button>
	</footer>

	<!-- This file script use to connect client to server and chat.js file use to listen or fire event -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/chat.js"></script>

</body>
</html>